.container {
  min-width: 70%;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 300px;
}
.card img {
  width: 100%;
}

header {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header div {
  font-size: 24px;
  color: darkgreen;
  font-weight: bold;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
header ul li {
  padding-left: 30px;
}
header ul li a {
  padding: 10px;
  border-radius: 5px;
  color: darkgreen;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.7s;
}
header ul li a:hover {
  background-color: darkgreen;
  color: blanchedalmond;
  text-decoration: underline;
}
